:root {
    --color-light: rgb(244, 244, 245);
    --color-dark: rgb(24, 24, 27);
}

body {
    /* font-family: 'Roboto', 'Helvetica', sans-serif; */
    background-color: var(--color-light, #f4f4f5);
    color: var(--color-dark, #18181b);
    box-sizing: border-box;
    margin: 0;
    padding: 2.5rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    /* margin-bottom: 1.25rem; */
}

p {
    margin-bottom: 0.625rem;
    text-align: center;
}

a:link {
    color: #00AFF5;
}

a:visited {
    color: #0182b4;
}

.mdl-button {
    border-radius: 5px;
}

.dark-mode-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdl-card {
    margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  width: calc(100% - 60px);
  align-content: flex-end;
  box-sizing: border-box;
  border: 2px solid #18181b;
  color: var(--color-dark, #18181b);
}

.mdl-list .mdl-card__supporting-text{
    text-align: center;
}

.dark-mode .mdl-card {
    background-color: var(--color-dark, #18181b);
    color: var(--color-light, #f4f4f5);
    border: 1px solid #f4f4f5;
    box-shadow: 0 8px 10px 1px rgba(255, 255, 255, 0.14),0 3px 14px 2px rgba(255,255,255,.12),0 5px 5px -3px rgba(255,255,255,.2)
}

.dark-mode {
    background-color: var(--color-dark, #18181b);
    color: var(--color-light, #f4f4f5);
}

.visitor-container, .panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
}

#visitorBadge {
    width: auto;
}

.mdl-spinner, .mdl-chip {
    position: absolute;
}

.mdl-list {
    padding-left: 2.5rem;
}

.spaced-text {
    padding: 0.625rem;
}

.spaced-text span {
    margin: 0 0.625rem;
}

#expired-cert-content {
    display: none;
    padding: 1rem;
}
